@page "/Counter"
<div class="Allcardcont">
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/bronzer.jpg"/>
                </div>
                <div class="card-autorr">
                    <h1>Бронзер</h1> 
                    <h1 class="card-autorrr">467р</h1>
                </div>
            
                <div class="card-hr1"></div>
                <h1 class="card-status">тёплое сияние</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/consiler.webp"/>
                </div>
                <div class="card-autorr">
                    <h1>консиллер</h1>
                    <h1 class="card-autorrr">476р</h1>
                </div>
                <div class="card-hr1"></div>
                <h1 class="card-status">невесомое покрытие</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/balzam.jpg"/>
                </div>
                <div class="card-autorr">
                    <h1>масло для губ</h1>
                    <h1 class="card-autorrr">380р</h1>
                </div>
                <div class="card-hr1"></div>
                <h1 class="card-status">увлажнение,увеличение</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/flured.webp"/>
                </div>
                <div class="card-autorr">
                    <h1>флюид</h1>
                    <h1 class="card-autorrr">530р</h1>
                </div>
                <div class="card-hr1"></div>
                <h1 class="card-status">вторая кожа,сияние</h1>
            </div>
        </div>
    </div>
</div>
